services:
  backend:
    build: ./linkedin-clone-backend
    ports:
      - "5000:5000"
    volumes:
      - ./linkedin-clone-backend:/app
      - backend-data:/app/instance
    networks:
      - app-network

  frontend:
    build: ./linkedin-clone-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  backend-data: